<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Signalement de crimes</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <%- include('layouts/navigation'); -%> 
       <%- include('layouts/header.ejs'); -%>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                     <% for (var i=0; i < signalements.length; i++) { %>
                    <div class="post-preview">
                        <a href="/post/<%= signalements[i]._id%>">
                            <img src="<%= signalements[i].image %>" class="photo-signal"/>
                            <h2 class="post-title"><%= signalements[i].titre %></h2>
                            <h3 class="post-subtitle"><%- signalements[i].description %></h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <%= signalements[i].userid.username %>
                            le <%= signalements[i].dateSignalement.toLocaleDateString('ca-fr') %>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <% } %>
            </div>
        </div>
      <%- include('layouts/footer.ejs'); -%>
       <%- include('layouts/script.ejs'); -%>
        
    </body>
</html>
